@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "shrimp";
  src: url("../public/fonts/SHRIMP.ttf");
}
@font-face {
  font-family: "kollektif";
  src: url("../public/fonts/Kollektif.ttf");
}
@font-face {
  font-family: "kollektif";
  src: url("../public/fonts/Kollektif-Bold.ttf");
  font-weight: 800;
}

* {
  font-family: "kollektif";
}

.small-border-dark {
  position: relative;
}
.small-border-light {
  position: relative;
}

.small-border-dark::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  width: 0.5px;
  height: 40%;
  transform: translateY(-50%);
  background-color: #ededed95;
}
.small-border-dark::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0.5px;
  height: 40%;
  transform: translateY(-50%);
  background-color: #ededed95;
}

.small-border-light::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  width: 0.5px;
  height: 40%;
  transform: translateY(-50%);
  background-color: #000;
}
.small-border-light::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0.5px;
  height: 40%;
  transform: translateY(-50%);
  background-color: #000;
}

.notification-type-text {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  column-gap: 1.6rem;
}
@media (max-width: 768px) {
  .notification-type-text {
    grid-template-columns: repeat(3, 1fr);
  }
}

.notification-type-text::before,
.notification-type-text::after {
  content: "";
  height: 1px;
  display: block;
}

#read-notification-text.notification-type-text::before,
#read-notification-text.notification-type-text::after {
  background-color: #161616;
}
#read-notification-text.isDark.notification-type-text::before,
#read-notification-text.isDark.notification-type-text::after {
  background-color: #ededed;
  height: 0.5px;
}

#unread-notification-text.notification-type-text::before,
#unread-notification-text.notification-type-text::after {
  background-color: #ea516f;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(45deg, #272626, #922c41);
}
